body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow-y: auto;
    overflow: hidden;
}

.header { 
    position: fixed;
    display: inline-block;
    text-align: center; 
    width: 100%; 
    height: 125px; /* Adjust height as needed */ 
    background-color: rgb(61, 61, 156);
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    
}

.sidebar {
    align-items: left;
    position: fixed;
    flex-direction: column;
    margin-top: 125px;
    width: 20%;
    height: 100%;
    justify-content: space-between;
    background-color: #f5f5f5fd;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
.directory {
    cursor: pointer;
    margin-left: 20px;
    font-weight: 600;
}

.links {
    display: none;
    margin-left: 40px;
    font-size: 14px;
}

.main-content {
    margin-top: 125px;
    margin-left:auto;
    width: 80%;
    padding: 0px;
    box-sizing: border-box;
    overflow-y: auto;
}

.content {
    display: none;
    width: 100%;
    height: calc(100vh - 40px); /* Adjust height to fill the container */
    border: none;
}

.content.active {
    display: block;
}

.parts {
    text-decoration: underline;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
}

.home {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

.note {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a.homeButton {
    font-size:50px;  
    text-decoration: none; 
    font-weight:600; 
    font-family:Arial, Helvetica, sans-serif;
}

.bottomLinks{
    margin-bottom: auto;
}
